body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    {/Table Styles 

    table
    width: 70%;}

    margin: lem;
    tr:hover 
    backround color: 


    